fieldset{
    border:none;
}

#project-select-form form.aui{
    font-family: "Lucida Grande", sans-serif;
    padding-left: 40px;
}
#native-browse{
	margin:0px;
}
#local-file-path{
    font-size: 90%;
    border: 2px inset;
    vertical-align: middle;
}

#success-img{
	padding-left:10px;
	vertical-align: middle;
	height: 16px;
	width: 16px;
}

#error-img{
	padding-left:10px;
	vertical-align: middle;
}

#load-success{
	color:green;
}
#load-error{
	color:red;
}